.submitButton {
  align-self: start;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 30px;
  padding: 9px 20px 10px;
  border-radius: 1000000px;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #d92323;
  cursor: pointer;
}
